[color]
    diff = auto
    status = auto
    branch = auto
[user]
    name = Marc Beillevaire
    email = marc.beillevaire@gmail.com
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    rb = rebase
    rbc = rebase --continue
    df = diff
    dfs = diff --staged
    rs = restore --staged .
[push]
	default = simple
[core]
	editor = vim
	quotepath = true
[pull]
	rebase = true
[merge]
    tool = vimdiff
